# Configuration file

general {
    # Whether to enable the library system for sharing tails. This mostly matters on servers. [default: true]
    B:"Enable Library"=true

    #  [default: Local Players data. Delete to remove all customisation data. Do not try to edit manually]
    S:"Local Player Data"={"uuid":"a6a1a40c-e1c2-4b41-aa2e-428128bd6a92","partInfos":[{"uuid":"a6a1a40c-e1c2-4b41-aa2e-428128bd6a92","hasPart":false,"typeid":0,"subid":0,"tints":[0,0,0],"textureID":0,"partType":"TAIL","needsTextureCompile":true},{"uuid":"a6a1a40c-e1c2-4b41-aa2e-428128bd6a92","hasPart":false,"typeid":0,"subid":0,"tints":[0,0,0],"textureID":0,"partType":"EARS","needsTextureCompile":true},{"uuid":"a6a1a40c-e1c2-4b41-aa2e-428128bd6a92","hasPart":false,"typeid":0,"subid":0,"tints":[0,0,0],"textureID":0,"partType":"WINGS","needsTextureCompile":true}]}

    #  [default: DEPRECIATED. CAN SAFELY REMOVE]
    S:"Local Tail Info"=
}


